@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/* conatainer */
.container-custom {
    @apply ps-28 px-10;
  }
/* header */
@media screen and (max-width: 682px) {
    .responsiveHamburger{
        width: 100% !important;
    }
    .responsiveLogo{
        justify-content: space-between !important;
    }
  }

  .custom-table-header .ant-table-thead > tr > th {
    height: 73px;
    background-color: #3c6cb4 !important;
    color: white;
    font-size: 14.5px;
    font-weight: 600;
    font-family: 'poppins';
  }

  .custom-table-body .ant-table-tbody > tr > td {
    font-size: 14.5px;
    font-weight: 500;
    font-family: 'poppins';
  }

  .custom-empty {
    font-size: 16px; /* Change font size */
    font-size: 'bold';
    text-align: center; /* Center the text */
    padding: 2rem;
  }


.ant-pagination {
  margin-top: 16px;
  display: flex;
  justify-content: end !important;
  align-items: center;
  padding: 10px 0; /* Customize as needed */
}

.ant-pagination-total-text {

  margin-right: 20px; /* Customize as needed */
}

.ant-pagination-item {
  border: none; /* Customize as needed */
}

.ant-pagination-item-active {
  font-weight: bold; /* Customize as needed */
}